<div class="center jumbotron">
	<h1>斗鱼哈哈哈</h1>
	<h2>
	  每天晚上直播学习哦。<a href="http://www.douyutv.com/anyluck">点我观看</a>
	</h2>
	<%= link_to "马上注册个号!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("http://staticlive.douyutv.com/common/douyu/images/logo.png",
											alt: "douyu logo"),
                			'http://www.douyutv.com/anyluck' %>
