<footer class="footer">
	<small>
	  <a href="http://www.douyutv.com/anyluck">斗鱼直播</a>
	</small>
	<nav>
		<ul>
      <li><%= link_to "关于", about_path %></li>
      <li><%= link_to "联系", contact_path %></li>
      <li><a href="http://anyruby.com/">我的网站</a></li>
		</ul>
	</nav>
</footer>